$redColor: #ff394f;
$greenColor: #238636;
$blueColor: #2f81f7;

$bgColor: #070707;
$wrapperColor: #262d33;
$darkWrapperColor: #0c0f11;
$whiteColor: #FFFFFF;
$grayColor: #595b5d;
$primaryColor: #34f799;