@import '../../styles/vars/variables.scss';

.project-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 2rem;
  width: 150px;
  height: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  top: 0;
  
  .links {
    display: flex;
    flex-direction: column;

    * {
      margin-bottom: 1rem;
    }
  }
}