@import '../../styles/vars/variables.scss';

.project-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $wrapperColor;
  padding: 1rem 2rem;
  border-radius: 0 0 5px 5px;
  width: 150px;
  height: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  top: 0;
  
  .links {
    display: flex;
    flex-direction: column;

    * {
      margin-right: 0.5rem;
  
      &:last-child {
        margin-right: 0;
      }
    }
  }
}