@import "vars/variables.scss";

form {
  display: flex;
  flex-direction: column;
  max-width: 700px;
}

a {
  color: $textColor;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.hide-font-size {
  font-size: 0;
}

.logo {
  
  &:hover {
    text-decoration: none;
    color: $primaryColor;
  }
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  font-size: 0.75em;
  border-radius: 5px;
  padding: 5px 10px;
  color: $textColor;

  &.success {
    background-color: $greenColor;
  }
}

main {
  padding: 1rem 2rem;
}