@import "vars/variables.scss";

form {
  display: flex;
  flex-direction: column;
  max-width: 700px;

  label {
    margin-bottom: 0.5rem;
  }

  input {
    background-color: $wrapperColor;
    color: $whiteColor;
    border: 2px solid $wrapperColor;
    padding: 1rem;
    outline: none;
    border-radius: 10rem;
    transition: border 0.3s ease;
    margin-bottom: 1rem;

    &:last-of-type {
      margin-bottom: 0;
    }
    
    &:focus {
      border-color: $primaryColor;
    }
  }

  button {
    margin-top: 1.5rem;
  }

  .btns {
    display: inline;

    button {
      margin-right: 1rem;

      &:last-of-type {
        margin-right: 0;
      }
    }

    
  }
}

a {
  color: $whiteColor;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.hide-font-size {
  font-size: 0;
}

button {
  width: fit-content;
  position: relative;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 5px 20px;
  color: $bgColor;
  background-color: $whiteColor;

  &.success {
    background-color: $primaryColor;
  }

  &.danger {
    background-color: $redColor;
  }

  &::after {
    content: '';
    transition: background 0.3s ease;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 5px;
  }
  
  &:hover {
    &::after {
      background: rgba($color: $bgColor, $alpha: 0.3);
    }
  }
}

.bug-todo-card,
.event-card,
.user-card {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .btns {
    .view-info-btn {
      width: 100%;
    }

    .edit-btns {
      margin-top: 0.5rem;
      display: flex;
    }
    
    button {
      margin-right: 0.5rem;
    }
  }
}

.project-todos,
.project-bugs {
  .add-btn {
    margin-top: 2rem;
  }
  
  form {
    button {
      margin-top: 0.5rem;
    }
  }

  .panel {
    margin-top: 1rem;
  }
}

.project-container,
.route {
  padding: 1rem 4rem 4rem 4rem;
}

.panel.pop-up
.panel.loader {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  margin-top: 0;
  border-radius: 0;
  background: rgba($color: #000000, $alpha: 0.9);
}