@import "vars/variables.scss";

form {
  display: flex;
  flex-direction: column;
  max-width: 700px;

  .btns {
    display: inline;

    button {
      margin-right: 1rem;

      &:last-of-type {
        margin-right: 0;
      }
    }

    
  }
}

a {
  color: $textColor;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

nav {
  a {
    padding: 0 10px;
    border-radius: 5px;
    transition: background 0.3s ease;

    &:hover {
      background-color: $bgColorLight;
      text-decoration: none;
    }
  }
}

.hide-font-size {
  font-size: 0;
}

.logo {
  
  &:hover {
    text-decoration: none;
  }
}

button {
  width: fit-content;
  cursor: pointer;
  outline: none;
  border: none;
  font-size: 0.75em;
  border-radius: 5px;
  padding: 5px 20px;
  color: $textColor;
  background-color: $bgColorLight;

  &.success {
    background-color: $greenColor;
  }

  &.danger {
    background-color: $redColor;
  }
}

main {
  padding: 0 2rem 2rem 2rem;
}