@import "vars/variables.scss";

.project-nav {
  display: flex;
  justify-content: space-between;
  background-color: $bgColorDarker;
  padding: 1rem 2rem;
  border-radius: 0 0 5px 5px;
  
  .links {
    display: flex;
    align-items: center;

    * {
      margin-right: 0.5rem;
  
      &:last-child {
        margin-right: 0;
      }
    }
  }
}