.project-nav {
  display: flex;
  justify-content: space-between;
  
  .links {
    display: flex;
    align-items: center;

    * {
      margin-left: 0.75rem;
  
      &:first-child {
        margin-left: 0;
      }
    }
  }
}