@import '../../styles/vars/variables.scss';

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $bgColor;
  border-bottom: 1px solid $wrapperColor;
  padding: 1rem;

  a {
    margin-left: 0.75rem;

    &:first-of-type {
      margin-left: 0;
    }
  }
}