@import "../../../../styles/vars/variables.scss";

.project-settings {

  .users {
    margin-top: 1rem;
  }

  form{

    &:first-of-type {
      margin-bottom: 1rem;
    }
  }

  .delete-project {
    margin-top: 3rem;
  }
}